<footer id="site_footer" class="mt-4 py-3 bg-light border-top w-100" data-turbo-permanent>
    <div class="container-fluid px-4">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                <small class="text-muted">
                    <%= t('layouts.application.footer.copyright', year: Time.current.year) %>
                </small>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><%= link_to t('layouts.application.footer.privacy_policy'), oroshi.privacy_policy_path, class: 'text-decoration-none text-muted' %></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><%= link_to t('layouts.application.footer.terms_of_service'), oroshi.terms_of_service_path, class: 'text-decoration-none text-muted' %></li>
                </ul>
            </div>
        </div>
    </div>
</footer>