<div data-controller="dialog" data-action="click->dialog#backdropClose" data-oroshi--orders--order-dashboard-target="orderModal">
  <dialog data-dialog-target="dialog" class="order-modal">
    <div class="modal-header border-bottom">
      <div class="modal-title w-100 d-flex flex-column gap-1 justify-content-center align-items-center align-middle" id="supplyActionModalLabel">
        <div class="fs-5">注文ツールパネル</div>
      </div>
      <button type="button" class="btn-close" data-action="dialog#close" aria-label="Close"></button>
    </div>
    <%= turbo_frame_tag 'orders_modal_content', class: 'overflow-hidden' do  %>
      <div class="modal-body">
        <%= render partial: 'oroshi/shared/spinner' %>
      </div>
      <div class="modal-footer border-top">
        <button type="button" class="btn btn-secondary" data-action="dialog#close">閉じる</button>
      </div>
    <% end %>
  </dialog>
  <button type="button" style="display: none;" data-dialog-trigger="true"></button>
</div>