<%= turbo_frame_tag 'app' do %>
  <% title "Funabiki Online - 生産原料供給" %>
  <div data-controller="oroshi--supplies--calendar">
    <div class="container">
      <div id="supply_calendar" class="fullCalendar position-relative" data-oroshi--supplies--calendar-target="calendar"></div>
    </div>
  </div>
<% end %>
