<%= turbo_frame_tag 'oroshi_modal_content', class: 'modal-content' do  %>
<div class="modal-header">
    <h5 class="modal-title"><%= t('oroshi.dashboard.update_record', model_name: Oroshi::Buyer.model_name.human) %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <%= render 'buyer_categories_modal_form' %>
    <div class="alert alert-success" role="alert">
        <%= t('oroshi.dashboard.update_record_success', model_name: Oroshi::BuyerCategory.model_name.human) %>
    </div>
</div>
<% end %>