.field_with_errors {
  padding: 2px 3px;
  margin-bottom: 2px;
  background-color: #fc9376;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
    border-radius: 5px 5px 0 0;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: flex;
  align-items: center;
}

/* This allows color fields to fill their parent input-group height */
input[type="color"] {
  height: unset;
}
