<div data-controller="dialog" data-action="click->dialog#backdropClose" data-oroshi--dashboard-target="modal">
    <dialog data-dialog-target="dialog" class="oroshi-modal">
        <div class="modal-header border-bottom">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-action="dialog#close" aria-label="Close"></button>
        </div>
        <%= turbo_frame_tag 'oroshi_modal_content' do  %>
        <div class="modal-body">
            <p></p>
        </div>
        <div class="modal-footer border-top">
            <button type="button" class="btn btn-secondary" data-action="dialog#close"></button>
        </div>
        <% end %>
    </dialog>
    <button type="button" style="display: none;" data-dialog-trigger="true"></button>
</div>