<%= turbo_frame_tag 'oroshi_modal_content', class: 'modal-content' do  %>
<div class="modal-header">
    <h5 class="modal-title">注文カテゴリーを編集する</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <%= render 'order_categories_times_modal_form' %>
    <div class="alert alert-success" role="alert">
        注文カテゴリーは正常に更新されました。
    </div>
</div>
<% end %>